---
import ToComment from "./ToComment.astro";
import ToTop from "./ToTop.astro";

// 通过网址是否在/blog/ 判断是否为博客页面
const IS_BLOG = Astro.url.pathname.startsWith("/blog/");
---

<div
  class="fixed right-2 bottom-12 z-50 flex -translate-x-1/2 flex-col items-center gap-4 lg:right-20 lg:bottom-40 lg:translate-x-0 lg:-rotate-90 lg:flex-row-reverse"
>
  <ToTop />

  <!-- 只在博客页面显示留言按钮 -->
  {IS_BLOG && <ToComment />}
</div>
